
* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.container {
  width: 66%;
  height: 50%;
  min-height:250px;
  max-height:1200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: gallery-cell;
  background-size: cover;
}

/* cell number */
.container:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.progress-bar {
  height: 10px;
  width: 0;
  background: #2bc200;
}

button.button {
    border: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
    padding: 10px;
    background-color: #0160a8b0;
    color: white;
}
